/* GENERAL STYLES */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
:root {
  --secondary-text-color: #212121;
  --primary-text-color: #757575;
  --white-color: #ffffff;
  --black-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --hero-footer-background-color: #2f303a;
  --team-button-background-color: #f5f4fa;
  --hero-button-background-color: #188ce8;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}
.link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: block;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* HEADER */
.header {
  background-color: yellowgreen;
  border-bottom: 1px solid #ececec;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo > .last-word {
  color: var(--black-color);
}
.header-link {
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list-item .link {
  color: var(--secondary-text-color);
}
.nav-list .link.current {
  color: var(--accent-color);
}
.contact-list-item .link {
  color: var(--primary-text-color--);
}
.contact-list .link:hover,
.contact-list .link:focus,
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}
/* HERO */
.hero {
  outline: 1px solid red;
  background: var(--hero-footer-background-color);
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* display: flex;
    align-items: center; */
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  display: inline-block;
  min-width: 216px;
  height: 50px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-background-color);
  cursor: pointer;
}
/* ADVANTAGE*/
.section {
  padding: 94px 0px;
}
.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
.feature-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ACTIVITY */
.section-activity {
  background-color: burlywood;
  padding-bottom: 94px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}
/* TEAM */
.section-team {
  background-color: var(--team-button-background-color);
}
.team-list-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
.team-list-item {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  max-width: 270px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.team-list-item > .img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}
/* FOOTER */
.footer {
  background: var(--hero-footer-background-color);
  padding-top: 60px;
  padding-bottom: 57px;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-logo .last-word {
  color: var(--white-color);
}
.footer-link {
  color: var(--footer-text-color);
}
.footer-map-link {
  color: var(--white-color);
}
.footer-list-item .link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}
/* PORTFOLIO */
.list-portfolio {
  text-align: center;
  margin-bottom: 34px;
}
.list-portfolio-item .button {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background: var(--team-button-background-color);
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
}
.btn:hover,
.btn:focus {
  color: var(--white-color);
  background: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.project-list-item .project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.project-list-item .project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.project-list-item > .img {
  max-width: 100%;
  height: auto;
}
.project-list-item > .border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.project-list-item {
  max-width: 370px;
}
